<!--<div class="col-md-6">-->
<!--<app-sankey [Source] = "sankeyData"> </app-sankey>-->
<!--</div>-->
<!-- <div class="col-md-6">
  <app-barchart [Source]="barData"> </app-barchart>
</div>
<div class="col-md-6">
  <app-linechart [Source]="lineChartData"> </app-linechart>
</div> -->
<!--<div class="col-md-6">-->
<!--<app-table [Source] = "tableData"> </app-table>-->
<!--</div>-->
<!-- <div class="col-md-6">
  <app-histogram-chart [Source]="barData"></app-histogram-chart>
</div> -->

<online-chart-editor></online-chart-editor>
<!-- <app-barchart [Source]="barData"> </app-barchart>
<app-linechart [Source]="lineChartData"> </app-linechart>
<app-waterfall-chart [Source]="lineChartData"></app-waterfall-chart> -->
<!-- <app-waterfall-chart [Source]="waterFallChart"></app-waterfall-chart> -->
<!-- <app-pop-up-chart></app-pop-up-chart> -->